@import "../../styles/variables";
@import "../../styles/mixins";

.selectedPostContainer {
  margin-bottom: 2em;
  width: 90%;
  h2,
  p {
    @include commonBorder;
    padding: 8px 15px;
    margin: 0;
  }
  h2 {
    background-color: $headerBackground;
  }
  p {
    background-color: $textContainerBackground;
  }
}
